{
  "browsers" : [
    {
      "name" : "chromium",
      "cmd" : "chromium",
      "profiles-path" : "$HOME/.config/chromium",
      "profiles" : [
        { "display" : "Kondensator", "name": "fredrik@kondensator.se" },
        { "display" : "Linkjournal", "name": "fredrik@linkjournal.se" },
        { "display" : "ApoEx", "name": "fredrik.l.andersson@apoex.se" }
      ]
    }
  ],
  "shortcuts" : [
    { 
      "name": "Kondensator mail", 
      "profile": "fredrik@kondensator.se", 
      "url" : "https://mail.google.com/mail/u/0/#inbox"
    },
    { 
      "name": "WhatsApp", 
      "profile": "fredrik@kondensator.se", 
      "url" : "https://web.whatsapp.com"
    },
    { 
      "name": "Linkjournal mail", 
      "profile": "fredrik@linkjournal.se", 
      "url" : "https://mail.google.com/mail/u/0/#inbox"
    },
    { 
      "name": "ApoEx mail", 
      "profile": "fredrik.l.andersson@apoex.se", 
      "url" : "https://mail.google.com/mail/u/0/#inbox"
    },
    { 
      "name": "Calendar", 
      "profile": "fredrik.l.andersson@apoex.se", 
      "url" : "https://calendar.google.com/calendar/r/week"
    }
  ],
  "dmenu": {
    "cmd": "rofi",
    "promptArg": "-mesg",
    "args": [
      "-dmenu"
    ]
  },
  "debug": false
}
